/* Simple View */
.simpleStyle{
    display: flex;
    width: 80vw;
    height: 8vh;
    padding: 25px 10px 25px 40px;
}

.small-image{
    width:100px;
}

/* Detailed View */
.detailStyle {
    display:flex;
    width: 80vw;
    height: 20vh;
    margin: 2px;
}

.report{
    padding:0px;
    margin: 0px;
}

.detailed-info{
    text-align: left;
    padding-left: 20px;
}

.description{
    background-color: #EDE9E1;
    padding: 30px;
    border-radius: 15px;
    width: 60vw;
    height: 15vh;
}

.large-image{
    width:200px;
}


hr{
    border: 3px dashed #122723;
    width: 90vw
  }