* {
    background-color: #122723;
    /* border: 1px solid blue; */
    /* padding: 10px; */
    color: #751922a2;
}

.container {
    padding: 20px;
    
}

.logo {
    text-decoration: none;
    display: flex;
    justify-content: center;
    font-size: 40px;
}

/* .header {
    padding: 2em;
} */

.gallery {
    background-color: #bab3a3;
    height: 4vh;
}

.home {
    background-image: linear-gradient(to right, #bab3a3, #afaa9c, #999486);
    /* background-color:#bab3a3; */
    height: 70vh;
    border-radius: 25px 25px 5px 5px;
    text-align: center;
    box-shadow: 7px 8px 5px black;
}

.login {
    background-image: linear-gradient(to right, #bab3a3, #afaa9c, #999486);
    /* background-color: #bab3a3; */
    height: 70vh;
    border-radius: 25px 25px 5px 5px;
    text-align: center;
    box-shadow: 7px 8px 5px black;
}

.report {
    background-image: linear-gradient(to right, #bab3a3, #afaa9c, #999486);
    /* background-color: #bab3a3; */
    height: 70vh;
    border-radius: 25px 25px 5px 5px;
    text-align: center;
    box-shadow: 7px 8px 5px black;
}

.register {
    background-image: linear-gradient(to right, #bab3a3, #afaa9c, #999486);
    /* background-color: #bab3a3; */
    height: 70vh;
    border-radius: 25px 25px 5px 5px;
    text-align: center;
    box-shadow: 7px 8px 5px black;
}

.account {
    background-image: linear-gradient(to right, #bab3a3, #afaa9c, #999486);
    /* background-color: #bab3a3; */
    height: 70vh;
    border-radius: 25px 25px 5px 5px;
    text-align: center;
    box-shadow: 4px 4px 5px black;
}

.list {
    /* border: 2px solid blue; */
    display: flex;
    list-style-type: none;
    flex-wrap: nowrap;
    padding: 14px 0px 14px 0px;
    margin: 20px 15px 1px 30px;
    /* justify-content: center; */
    
}

.nav {
    /* border: 2px solid blue; */
    background-color: #99917f;
    text-decoration: none;
    /* padding: 15px; */
    border-radius: 25px 25px 0px 0px;
    margin: 0px 2px 0px 2px;
    box-shadow: 4px 0px black;

}

.n1 {
    padding: 15px 20px 15px 20px;
}

.n2 {
    padding: 15px 55px 15px 55px;
}

.n3 {
    padding: 15px 45px 15px 45px;
}

.n4 {
    padding: 15px 40px 15px 40px;
}

.nav:focus {
    background-color: #bab3a3;
}

.nav:hover {
    background-color: #bab3a3;
}



.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2em 0em 0em 0em;
}