* {
    background-color: #122723;
    color: #751922a2;
}

.container {
    padding: 20px;
    
}

.logo {
    /* background-image: url(https://dejpknyizje2n.cloudfront.net/svgcustom/clipart/preview/bigfoot-or-sasquatch-sighting-29688-300x300.png); */
    text-decoration: none;
    display: flex;
    justify-content: center;
    font-size: 40px;
    height: 2.5em;
    width: 3.5em;
    background-size: 100px;
}

.gallery {
    background-color: #bab3a3;
    height: 4vh;
}

.home {
    background-image: linear-gradient(to bottom, #bab3a3, #afaa9c, #999486);
    /* background-color:#bab3a3; */
    height: 70vh;
    border-radius: 25px 25px 5px 5px;
    text-align: center;
    box-shadow: 7px 8px 5px black;
}

.login {
    background-image: linear-gradient(to bottom, #bab3a3, #afaa9c, #999486);
    /* background-color: #bab3a3; */
    height: 70vh;
    border-radius: 25px 25px 5px 5px;
    text-align: center;
    box-shadow: 7px 8px 5px black;
}

.report {
    background-image: linear-gradient(to bottom, #bab3a3, #afaa9c, #999486);
    /* background-color: #bab3a3; */
    height: 70vh;
    border-radius: 25px 25px 5px 5px;
    text-align: center;
    box-shadow: 7px 8px 5px black;
}

.register {
    background-image: linear-gradient(to bottom, #bab3a3, #afaa9c, #999486);
    /* background-color: #bab3a3; */
    height: 70vh;
    border-radius: 25px 25px 5px 5px;
    text-align: center;
    box-shadow: 7px 8px 5px black;
}

.account {
    background-image: linear-gradient(to bottom, #bab3a3, #afaa9c, #999486);
    /* background-color: #bab3a3; */
    height: 70vh;
    border-radius: 25px 25px 5px 5px;
    text-align: center;
    box-shadow: 4px 4px 5px black;
}

.list {
    /* border: 2px solid blue; */
    display: flex;
    list-style-type: none;
    flex-wrap: nowrap;
    padding: 14px 0px 14px 0px;
    margin: -45px 30px 1px 130px;
}

.nav {
    /* border: 2px solid blue; */
    background-color: #99917f;
    text-decoration: none;
    /* padding: 15px; */
    border-radius: 25px 25px 0px 0px;
    margin: 0px 2px 0px 2px;
    box-shadow: 4px 0px black;
    /* text-shadow: 1px 1px #751922a2; */
}

.n1 {
    padding: 15px 20px 15px 20px;
    font-weight: bold;
    /* font-family: walterturncoat; */
}

.n2 {
    padding: 15px 55px 15px 55px;
    font-weight: bold;
}

.n3 {
    padding: 15px 45px 15px 45px;
    font-weight: bold;
}

.n4 {
    padding: 15px 40px 15px 40px;
    font-weight: bold;
}

.nav:focus {
    background-color: #bab3a3;
}

.nav:hover {
    background-color: #bab3a3;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2em 0em 0em 0em;
}